<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://vincent-liuwingsang.github.io/unlost.github.io/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ZyALoSX8+vo/teFmrVQz6Xj8Rj5XfxZ7UDLtaQxNLEE=</string>
	<key>SURelaunchHostBundle</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>7200</integer>
</dict>
</plist>
