accelerate==0.18.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.17.0
altgraph==0.17.3
ane-transformers==0.1.1
annoy==1.17.3
anyascii==0.3.2
anyio==3.6.2
apache-libcloud==3.8.0
appnope==0.1.3
argilla==1.12.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.0
binaryornot==0.4.4
blis==0.7.10
boto3==1.26.141
botocore==1.29.141
briefcase==0.3.15
bs4==0.0.1
build==0.10.0
catalogue==2.0.9
cattrs==23.1.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
chromadb==0.3.18
click==8.1.3
clickhouse-connect==0.5.18
cohere==4.1.3
coloredlogs==15.0.1
comm==0.1.3
commonmark==0.9.1
confection==0.1.3
contourpy==1.1.0
cookiecutter==2.3.0
coremltools==7.0b1
croniter==1.4.1
cryptography==41.0.1
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.5.7
datasets==2.12.0
dateparser==1.1.8
DateRangeParser==1.3.2
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.6
dmgbuild==1.6.1
dnspython==2.3.0
docopt==0.6.2
docqa==0.0.3
ds-store==1.3.1
duckdb==0.7.1
duckduckgo-search==3.4.1
duckling==1.8.0
email-validator==2.0.0.post2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
et-xmlfile==1.1.0
executing==1.2.0
faiss-cpu==1.7.4
Faker==18.9.0
fast-query-parsers==0.4.0
fastapi==0.95.0
fastapi-utils==0.2.1
fasteners==0.18
fasttext==0.9.2
ffmpeg-python==0.2.0
filelock==3.9.0
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gitdb==4.0.10
GitPython==3.1.32
google-search==1.1.1
google-search-results==2.4.2
googlesearch-python==1.2.3
greenlet==2.0.1
h11==0.14.0
hnswlib==0.7.0
html2image==2.0.3
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.13.3
humanfriendly==10.0
idna==3.4
ImageHash==4.3.1
imgkit==1.2.3
importlib-metadata==6.7.0
inflect==7.0.0
iniconfig==2.0.0
InstructorEmbedding==1.0.0
ipykernel==6.23.2
ipython==8.14.0
iso8601==1.1.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
JPype1==1.4.1
jsonlines==3.1.0
jupyter_client==8.2.0
jupyter_core==5.3.1
kiwisolver==1.4.4
langchain==0.0.181
langcodes==3.3.0
llvmlite==0.40.0
loguru==0.6.0
lxml==4.9.2
lz4==4.3.2
mac-alias==2.2.2
macholib==1.16.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
modulegraph==0.19.3
monotonic==1.6
more-itertools==9.1.0
mpmath==1.2.1
msg-parser==1.2.0
msgspec==0.15.1
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.0rc1
nltk==3.8.1
nodeenv==1.8.0
nomic==1.1.4
numba==0.57.1
numexpr==2.8.4
numpy==1.25.2
ocrmac==0.1.1
olefile==0.46
onnx==1.14.1
onnxconverter-common==1.14.0
onnxmltools==1.11.2
onnxruntime==1.15.1
openai==0.27.7
openai-whisper==20230314
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathy==0.10.2
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.8.0
peft @ file://localhost//Users/wingsangvincentliu/Magic/random/ai/nomic/bin/peft-0.3.0.dev0-py3-none-any.whl
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pipreqs==0.4.13
platformdirs==3.1.1
playwright==1.32.1
pluggy==1.0.0
posthog==2.4.2
preshed==3.0.8
prisma==0.8.2
prompt-toolkit==3.0.38
protobuf==3.20.2
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pvporcupine==2.2.0
py2app==0.28.5
pyaml==23.7.0
pyarrow==12.0.1
PyAudio==0.2.13
pybind11==2.11.1
pycparser==2.21
pydantic==1.10.7
pydantic-factories==1.17.3
pydantic-openapi-schema==1.5.1
pyee==9.0.4
Pygments==2.14.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.3
pymagnitude-lite==0.1.143
Pympler==1.0.1
pyobjc==9.1.1
pyobjc-core==9.1.1
pyobjc-framework-Accessibility==9.1.1
pyobjc-framework-Accounts==9.1.1
pyobjc-framework-AddressBook==9.1.1
pyobjc-framework-AdServices==9.1.1
pyobjc-framework-AdSupport==9.1.1
pyobjc-framework-AppleScriptKit==9.1.1
pyobjc-framework-AppleScriptObjC==9.1.1
pyobjc-framework-ApplicationServices==9.1.1
pyobjc-framework-AppTrackingTransparency==9.1.1
pyobjc-framework-AudioVideoBridging==9.1.1
pyobjc-framework-AuthenticationServices==9.1.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.1.1
pyobjc-framework-Automator==9.1.1
pyobjc-framework-AVFoundation==9.1.1
pyobjc-framework-AVKit==9.1.1
pyobjc-framework-AVRouting==9.1.1
pyobjc-framework-BackgroundAssets==9.1.1
pyobjc-framework-BusinessChat==9.1.1
pyobjc-framework-CalendarStore==9.1.1
pyobjc-framework-CallKit==9.1.1
pyobjc-framework-CFNetwork==9.1.1
pyobjc-framework-ClassKit==9.1.1
pyobjc-framework-CloudKit==9.1.1
pyobjc-framework-Cocoa==9.1.1
pyobjc-framework-Collaboration==9.1.1
pyobjc-framework-ColorSync==9.1.1
pyobjc-framework-Contacts==9.1.1
pyobjc-framework-ContactsUI==9.1.1
pyobjc-framework-CoreAudio==9.1.1
pyobjc-framework-CoreAudioKit==9.1.1
pyobjc-framework-CoreBluetooth==9.1.1
pyobjc-framework-CoreData==9.1.1
pyobjc-framework-CoreHaptics==9.1.1
pyobjc-framework-CoreLocation==9.1.1
pyobjc-framework-CoreMedia==9.1.1
pyobjc-framework-CoreMediaIO==9.1.1
pyobjc-framework-CoreMIDI==9.1.1
pyobjc-framework-CoreML==9.1.1
pyobjc-framework-CoreMotion==9.1.1
pyobjc-framework-CoreServices==9.1.1
pyobjc-framework-CoreSpotlight==9.1.1
pyobjc-framework-CoreText==9.1.1
pyobjc-framework-CoreWLAN==9.1.1
pyobjc-framework-CryptoTokenKit==9.1.1
pyobjc-framework-DataDetection==9.1.1
pyobjc-framework-DeviceCheck==9.1.1
pyobjc-framework-DictionaryServices==9.1.1
pyobjc-framework-DiscRecording==9.1.1
pyobjc-framework-DiscRecordingUI==9.1.1
pyobjc-framework-DiskArbitration==9.1.1
pyobjc-framework-DVDPlayback==9.1.1
pyobjc-framework-EventKit==9.1.1
pyobjc-framework-ExceptionHandling==9.1.1
pyobjc-framework-ExecutionPolicy==9.1.1
pyobjc-framework-ExtensionKit==9.1.1
pyobjc-framework-ExternalAccessory==9.1.1
pyobjc-framework-FileProvider==9.1.1
pyobjc-framework-FileProviderUI==9.1.1
pyobjc-framework-FinderSync==9.1.1
pyobjc-framework-FSEvents==9.1.1
pyobjc-framework-GameCenter==9.1.1
pyobjc-framework-GameController==9.1.1
pyobjc-framework-GameKit==9.1.1
pyobjc-framework-GameplayKit==9.1.1
pyobjc-framework-HealthKit==9.1.1
pyobjc-framework-ImageCaptureCore==9.1.1
pyobjc-framework-IMServicePlugIn==9.1.1
pyobjc-framework-InputMethodKit==9.1.1
pyobjc-framework-InstallerPlugins==9.1.1
pyobjc-framework-InstantMessage==9.1.1
pyobjc-framework-Intents==9.1.1
pyobjc-framework-IntentsUI==9.1.1
pyobjc-framework-IOBluetooth==9.1.1
pyobjc-framework-IOBluetoothUI==9.1.1
pyobjc-framework-IOSurface==9.1.1
pyobjc-framework-iTunesLibrary==9.1.1
pyobjc-framework-KernelManagement==9.1.1
pyobjc-framework-LatentSemanticMapping==9.1.1
pyobjc-framework-LaunchServices==9.1.1
pyobjc-framework-libdispatch==9.1.1
pyobjc-framework-libxpc==9.1.1
pyobjc-framework-LinkPresentation==9.1.1
pyobjc-framework-LocalAuthentication==9.1.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.1.1
pyobjc-framework-MailKit==9.1.1
pyobjc-framework-MapKit==9.1.1
pyobjc-framework-MediaAccessibility==9.1.1
pyobjc-framework-MediaLibrary==9.1.1
pyobjc-framework-MediaPlayer==9.1.1
pyobjc-framework-MediaToolbox==9.1.1
pyobjc-framework-Metal==9.1.1
pyobjc-framework-MetalFX==9.1.1
pyobjc-framework-MetalKit==9.1.1
pyobjc-framework-MetalPerformanceShaders==9.1.1
pyobjc-framework-MetalPerformanceShadersGraph==9.1.1
pyobjc-framework-MetricKit==9.1.1
pyobjc-framework-MLCompute==9.1.1
pyobjc-framework-ModelIO==9.1.1
pyobjc-framework-MultipeerConnectivity==9.1.1
pyobjc-framework-NaturalLanguage==9.1.1
pyobjc-framework-NetFS==9.1.1
pyobjc-framework-Network==9.1.1
pyobjc-framework-NetworkExtension==9.1.1
pyobjc-framework-NotificationCenter==9.1.1
pyobjc-framework-OpenDirectory==9.1.1
pyobjc-framework-OSAKit==9.1.1
pyobjc-framework-OSLog==9.1.1
pyobjc-framework-PassKit==9.1.1
pyobjc-framework-PencilKit==9.1.1
pyobjc-framework-PHASE==9.1.1
pyobjc-framework-Photos==9.1.1
pyobjc-framework-PhotosUI==9.1.1
pyobjc-framework-PreferencePanes==9.1.1
pyobjc-framework-PushKit==9.1.1
pyobjc-framework-Quartz==9.1.1
pyobjc-framework-QuickLookThumbnailing==9.1.1
pyobjc-framework-ReplayKit==9.1.1
pyobjc-framework-SafariServices==9.1.1
pyobjc-framework-SafetyKit==9.1.1
pyobjc-framework-SceneKit==9.1.1
pyobjc-framework-ScreenCaptureKit==9.1.1
pyobjc-framework-ScreenSaver==9.1.1
pyobjc-framework-ScreenTime==9.1.1
pyobjc-framework-ScriptingBridge==9.1.1
pyobjc-framework-SearchKit==9.1.1
pyobjc-framework-Security==9.1.1
pyobjc-framework-SecurityFoundation==9.1.1
pyobjc-framework-SecurityInterface==9.1.1
pyobjc-framework-ServiceManagement==9.1.1
pyobjc-framework-SharedWithYou==9.1.1
pyobjc-framework-SharedWithYouCore==9.1.1
pyobjc-framework-ShazamKit==9.1.1
pyobjc-framework-Social==9.1.1
pyobjc-framework-SoundAnalysis==9.1.1
pyobjc-framework-Speech==9.1.1
pyobjc-framework-SpriteKit==9.1.1
pyobjc-framework-StoreKit==9.1.1
pyobjc-framework-SyncServices==9.1.1
pyobjc-framework-SystemConfiguration==9.1.1
pyobjc-framework-SystemExtensions==9.1.1
pyobjc-framework-ThreadNetwork==9.1.1
pyobjc-framework-UniformTypeIdentifiers==9.1.1
pyobjc-framework-UserNotifications==9.1.1
pyobjc-framework-UserNotificationsUI==9.1.1
pyobjc-framework-VideoSubscriberAccount==9.1.1
pyobjc-framework-VideoToolbox==9.1.1
pyobjc-framework-Virtualization==9.1.1
pyobjc-framework-Vision==9.1.1
pyobjc-framework-WebKit==9.1.1
pyOpenSSL==23.2.0
pypandoc==1.11
pyparsing==3.0.9
pypika-tortoise==0.1.6
pyproject_hooks==1.0.0
pytesseract==0.3.10
pytest==7.2.2
pytest-base-url==2.0.0
pytest-playwright==0.3.2
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-louvain==0.16
python-magic==0.4.27
python-pptx==0.6.21
python-slugify==6.1.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.1.0
redbird==0.7.1
regex==2023.3.23
requests==2.28.1
requests-ip-rotator==1.0.14
responses==0.18.0
rfc3986==1.5.0
rich==13.0.1
rocketry==2.5.1
s3transfer==0.6.1
safetensors==0.3.3
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
skl2onnx==1.15.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.4
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==1.4.47
srsly==2.4.7
stack-data==0.6.2
starlette==0.26.1
starlite==1.51.12
sutime==1.0.1
sympy==1.11.1
tenacity==8.2.2
text-unidecode==1.3
thinc==8.1.12
threadpoolctl==3.1.0
tika==2.6.0
tiktoken==0.3.1
timm==0.9.5
tokenizers==0.13.2
tomli_w==1.0.0
tomlkit==0.11.8
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.3.2
tortoise-orm==0.19.3
tqdm==4.65.0
traitlets==5.9.0
transformers @ file://localhost//Users/wingsangvincentliu/Magic/random/ai/nomic/bin/transformers-4.28.0.dev0-py3-none-any.whl
ttstokenizer==1.0.0
txtai==6.0.0
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.4.0
tzlocal==5.0.1
unstructured==0.5.8
urllib3==1.26.13
uvicorn==0.21.1
uvloop==0.17.0
virtualenv==20.21.0
Wand==0.6.11
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.6
websockets==10.4
wit==6.0.1
wonderwords==2.2.0
wrapt==1.14.1
wurlitzer==3.0.3
xattr==0.10.1
XlsxWriter==3.0.9
xmltodict==0.13.0
xxhash==3.2.0
yarg==0.1.9
yarl==1.8.2
zipp==3.15.0
zstandard==0.20.0
